@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 400px;
    height: 300px;
    border: none;
    background: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
  
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background: var(--Blue-Gradient, linear-gradient(99deg, #f20dd3 0, #00fff7 100%));
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #0d1117;
}

.robot {
    width: 200px;
    height: 200px;
    background: url('assets/robot.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    right: -60px;
    transform: rotateZ(-40deg);
    z-index: 0;
}

.person {
    width: 120px;
    height: 120px;
    background: url('assets/person.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 90px;
    left: -40px;
    transform: rotateZ(40deg);
    z-index: 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    border: none;
    background-image: url('assets/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-left: 10px;
    color: white;
    text-align: center;
    border: none;
    z-index: 1;
}

p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
}

#runStatus {
    display: none;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    padding-top: 15px;
    transform: scale(0);
}

.loading {
    animation:extend 1s steps(3, end) infinite;
    display:inline-block;
    overflow:hidden;
    vertical-align:bottom;
    &:before {
      content:"...";
    }
}
  
@keyframes extend {
    0% {
      width:.25em;
    }
    100% {
      width:1.3em;
    }
}

button{
    background: linear-gradient(99deg, #f20dd3 0, #00fff7 100%);
    border: none;
    border-radius: 6px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 7px 12px;
    transition: 300ms ease-in-out;
    transform: scale(0);
}

button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.checkbox.style-c {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox.style-c input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
    background-color: #007bff;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
    background-color: #eee;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
    background-color: #007bff;
}

.checkbox.style-c .checkbox__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}

.checkbox.style-c .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.style-c .checkbox__body {
    color: white;
    line-height: 1.4;
    padding-top: 2px;
    font-size: 13px;
}

#stop-btn {
    background: #dc3545;
    color: white;
    display: none;
    transform: scale(0);
}

.form {
    display: flex;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
}

#random {
    outline: none;
    vertical-align: middle;
}

.random, .autoJoin {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    color: white;
    display: inline-block;
    vertical-align: middle;
}

#email {
    font-size: 13px;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 18px;
}

.email-btn-group {
    margin-right: 18px;
}


.footer {
    background-color: #0d1117;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: white;
}

.footer p {
    font: 'Plus Jakarta Sans', sans-serif;
    word-spacing: 2px;
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.promotion a {
    text-decoration: none;
    padding: 7px;
    border: 2px solid white;
    border-radius: 6px;
    transition: 300ms ease-in-out;
}

.promotion a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: translateY(-5px);
}

.login {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}